body {

    font-family: 'Mukta', sans-serif;
    color: green;

    margin: 0%;
    margin-top: 0%;
}

h1 {

    font-size: 50px;
    color: blue;
}

h3 {
    font-size: 30px;
}

.half-width {

    width: 60%;
    padding-left: 30px;
}

.red {
    color: red;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width img {
    width: 80%;
}

.link {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 40px;
    border-radius: 3px;
    font-weight: 900;
    color: aliceblue;
}

.top-banner {
    background-image: url(top-banner.png);

}

.dream {
    counter-reset: 4px;
    background-color: aqua;
}